In [38]:
#loading pandas and csv file
import pandas as pd
#titles_principasl_csv
titles_crew_df = pd.read_csv("~/titles_cast.tsv", sep = '\t')
#reading in title basics
titles_df = pd.read_csv("~/soc_final/top_actors_titlebasics.csv")
actors_df = pd.read_csv("~/soc_final/top_actors_namebasics.csv")

In [134]:
len(actors_df)

299

In [68]:
#getting the titles
titles = list()
for ind in titles_df.index:
    tconst = titles_df['tconst'][ind]
    pn = titles_df['primaryTitle'][ind] 
    movie = [tconst, pn]
    titles.append(movie)
len(titles)

858

In [102]:
#getting name ids
name_ids = set()
for ind in actors_df.index:
    name_ids.add(actors_df['nconst'][ind])
len(name_ids)

299

In [43]:
# cuttung down titles_principals based on tv/films
crew_df = titles_crew_df[titles_crew_df['tconst'].isin(titles_set)]
len(crew_df)

8530

In [44]:
# filtering crew_df to include on actors in our dataset
crew_df = crew_df[crew_df['nconst'].isin(name_ids)]
len(crew_df)

1174

In [53]:
#adding names to crew_df
names = list()
for ind in crew_df.index:
    nconst = crew_df['nconst'][ind]
    row = actors_df[actors_df['nconst'] == nconst]
    name = row.primaryName.item()
    names.append(name)

#make sure not to insert multiple times
if 'primaryName' not in crew_df:
    crew_df.insert(3,'primaryName',names,True)

crew_df

,tconst,ordering,nconst,primaryName,category,job,characters
578230,tt0068646,2,nm0000199,Al Pacino,actor,\N,"[""Michael""]"
595898,tt0070666,1,nm0000199,Al Pacino,actor,\N,"[""Serpico""]"
614345,tt0072730,1,nm0000467,Don Johnson,actor,\N,"[""Vic""]"
615795,tt0072890,1,nm0000199,Al Pacino,actor,\N,"[""Sonny""]"
636931,tt0075314,1,nm0000134,Robert De Niro,actor,\N,"[""Travis Bickle""]"
...,...,...,...,...,...,...,...
49762105,tt9779516,1,nm6216001,K.J. Apa,actor,\N,"[""Jeremy""]"
49762106,tt9779516,2,nm1429380,Britt Robertson,actress,\N,"[""Melissa""]"
49947812,tt9844522,1,nm5347988,Taylor Russell,actress,\N,"[""Zoey Davis""]"
49947813,tt9844522,2,nm2383250,Logan Miller,actor,\N,"[""Ben Miller""]"
50080873,tt9893250,3,nm2555462,Eiza González,actress,\N,"[""Fran""]"

In [87]:
#creating a dictionary
connections = dict()
for m in titles:
    tconst = m[0]
    if len(crew_df[crew_df['tconst'] == tconst]) > 1:
        rows = crew_df[crew_df['tconst'] == tconst]
        crew = list()
        #print(m[1])
        for ind in rows.index:
            idname = rows['nconst'][ind]
            name = rows['primaryName'][ind]
            actor = [idname,name]
            crew.append(actor)
        connections[m[1]] = crew
            #print(idname + ", " + name)
        #print()


#for key in connections:
    #print(key)
    #for i in connections[key]:
     #   print(i)
        #prints out idname, name
    #print()

In [117]:
#key of dictionary will be ["actor 1","actor 2" ], value = weight
edgelist = dict()
for key in connections:
    #print(key)
    for i in range(0,len(connections[key]) - 1):
        a1 = connections[key][i][1]
        #print(a1)
        for i2 in range(i + 1,len(connections[key])):
            a2 = connections[key][i2][1]
            #print(a2)
            k = a1 + "," + a2
            if k not in edgelist.keys():
                edgelist[k] = 1
               # print("key: " + k)
            else:
                edgelist[k] += 1
            #print("key: " + k)
   # print()

#for key in edgelist:
    #print(key + ": " + str(edgelist[key]))

In [136]:
#creating the dataframe with to,from,weights
edge_df = pd.DataFrame(columns = ['to','from','weight'])
for key in edgelist:
    actors = key.split(",")
    a1 = actors[0]
    a2 = actors[1]
    weight = edgelist[key]
    link = {'to': [a1], 'from': [a2], 'weight':[weight]}
    row = pd.DataFrame(data = link)
   # print(row)
    edge_df = pd.concat([edge_df, row], ignore_index = True)

In [133]:

#exporting
#edge_df.to_csv('actors_edgelist.csv')

In [137]:
#check if any actors are missing
top_actors = actors_df['primaryName'].tolist()

299

In [140]:
missing_actors = []
for actor in top_actors:
    if actor not in edge_df['to'].unique().tolist():
        if actor not in edge_df['from'].unique().tolist():
            missing_actors.append(actor)

print(missing_actors)

['Jim Carrey', 'Anthony Daniels', 'Mark Dacascos', 'Embeth Davidtz', 'Charlotte Rampling', 'Maggie Smith', 'Keri Russell', 'Kate Walsh', 'Nikki Amuka-Bird', 'Tadanobu Asano', 'Peter Capaldi', 'Nick Castle', 'Ken Leung', 'Lance Reddick', 'Hiroyuki Sanada', 'Penelope Wilton', 'Sharon Duncan-Brewster', 'Terry Notary', 'Zachary Levi', 'Lee Pace', 'Tony Jaa', 'Mehcad Brooks', 'Toby Kebbell', 'Sam Heughan', 'Keke Palmer', 'Jimmy Vee', 'Emun Elliott', 'Rebel Wilson', 'Cassidy Freeman', 'Alejandro Edda', 'Kaya Scodelario', 'Nick Jonas', 'Nathalie Emmanuel', 'Pom Klementieff', 'Rob Delaney', 'Asia Kate Dillon', 'Letitia Wright', 'Lauren Ridloff', 'Ali Wong', 'Issa Rae', 'Ella Jay Basco', 'Diana Taurasi', 'Klay Thompson', 'Lizzo', 'Joonas Suotamo', 'Katherine Langford', 'Brooklynn Prince', 'Cardi B', 'Don Johnson', 'Chang Chen', 'Ludacris', 'Logan Kim', 'Ma Dong-seok', 'LaKeith Stanfield', 'Trace Lysette', 'Damian Lillard', 'Henry Zaga', 'Blu Hunt', 'Aaron Pierre', "Celeste O'Connor"]

In [145]:
m_df = pd.DataFrame(missing_actors, columns=["names"])
m_df.to_csv("missing.csv")